@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; */
    /* height: 100vh; */
    /* background: #cbdbff; */
    background: #003d2b;
}


/* form */

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cbdbff;
}

.form-container {
    width: 1000px;
}

.fz-38 {
    font-size: 38px;
}

.col-gr {
    color: green;
}

.col-red {
    color: red;
}

.title,
.slogan {
    text-align: center;
}

.btn- {
    width: 100%;
}

.auth-img {
    width: 100%;
}

.alert {
    margin-bottom: 1.5rem;
}


/* profile-card */

.profile-card {
    width: 500px;
}

.avatar {
    margin-bottom: 1.5rem;
}

.username {
    text-transform: capitalize;
}

.profile-btn {
    margin-top: 1.3rem;
    width: 100%;
}


/* Game */

.home-G-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #003d2b;
    flex-direction: column;
}

.grid-game {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    width: 680px;
    margin-top: 40px;
}

.card-game {
    width: 150px;
    height: 210px;
    transition: transform .3s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-poke {
    position: relative;
    transition: transform .3s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-game img {
    width: 100%;
    height: 100%;
}

.card-game.is-revealed {
    transform: rotateY(180deg);
}

.card-poke.is-revealed {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-face-poke {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card__face--front {
    transform: rotateY(180deg);
}

.front-card-poke {
    transform: rotateY(180deg);
}

.controls {
    margin: 30px 5px 0 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.btn-controls {
    border: 3px solid #35b08b;
    color: #35b08b;
    padding: 10px 20px;
    border-radius: 10px;
    background: none;
    font-family: inherit;
    font-size: 24px;
    transition: color .3s, background-color .3s;
    cursor: pointer;
}

.btn-controls:hover {
    background-color: #35b08b;
    color: #003d2b;
}

.turn-count {
    font-size: 24px;
    color: #35b08b;
}

.main-vid {
    width: 100%;
    height: 100vh
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.trans,
.dropdown-menu {
    background-color: rgba(255, 255, 255, .2) !important;
    backdrop-filter: blur(9px) !important;
    box-shadow: -10px 0 10px rgba(0, 0, 0, .1) !important;
}

.body-Home {
    width: 100%;
    height: 100vh;
    /* background: url("https://wallpapercave.com/wp/CtwDqV4.jpg"); */
    position: relative;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Để video chiếm toàn bộ kích thước của phần tử cha */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* Đặt z-index để đặt video ở phía sau các phần tử khác */
}

.img-vs {
    width: '120px';
    object-fit: 'cover'
}

.img-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Để video chiếm toàn bộ kích thước của phần tử cha */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.height-sidebar {
    height: calc(100vh - 56px) !important;
}

.btn-start {
    margin-right: 56px;
    margin-bottom: 56px;
}


/* .btn-start button {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.btn-start button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.btn-start button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.btn-start button:hover:before {
    transform: translateX(15em);
} */

.btn-start button {
    position: relative;
    width: 150px;
    height: 60px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
    padding-left: 35px;
    box-shadow: 2.9px 2.9px 2.2px rgba(0, 0, 0, 0.019), 5.2px 5.2px 5.3px rgba(0, 0, 0, 0.023), 7px 7px 10px rgba(0, 0, 0, 0.025), 8.7px 8.7px 17.9px rgba(0, 0, 0, 0.024), 11.3px 11.3px 33.4px rgba(0, 0, 0, 0.023), 20px 20px 80px rgba(0, 0, 0, 0.02);
}

.btn-start .pika {
    position: absolute;
    top: -100%;
    left: 42%;
    transition: 0.5s all;
    animation: tilt 1.1s infinite ease-in-out;
}

@keyframes tilt {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.btn-start .pokeball {
    position: absolute;
    top: 25%;
    left: 10%;
    animation: rotate_4991 1s linear infinite;
}

@keyframes rotate_4991 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-start button:hover .pika {
    top: 90%;
}

.btn-start button:hover .pokeball {
    animation: none;
    transform: scale(0);
}

.btn-start button:hover .go {
    color: transparent;
}

.btn-start .go {
    position: absolute;
    top: 18%;
    left: 45%;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-start .pword,
.btn-start .pword2 {
    position: absolute;
    font-size: 13px;
    opacity: 0;
    animation: pulse-animation_0011 1s infinite;
}

@keyframes pulse-animation_0011 {
    0% {
        transform: rotateZ(-30deg) scale(1);
    }
    50% {
        transform: rotateZ(-30deg) scale(1.1);
    }
    100% {
        transform: rotateZ(-30deg) scale(1);
    }
}

.btn-start .pword {
    top: 30%;
    left: 72%;
}

.btn-start .pword2 {
    top: 55%;
    left: 75%;
}

.btn-start button:hover .btn-start .pword,
.btn-start button:hover .btn-start .pword2 {
    opacity: 1;
}

.avatar-user {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.logo-header {
    width: 165px;
    height: 56px;
    object-fit: cover;
}

.back-waiting-room {
    width: 100%;
    height: calc(100vh - 56px);
    object-fit: cover;
}


/* Card */

.card-wait {
    width: 190px;
    height: 254px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.z-1 {
    z-index: 10;
}

.img-draw {
    width: 40%;
    object-fit: cover;
    border-radius: 20px;
}

.main-home-center {
    height: 520px;
    border-radius: 20px;
}

.coin-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.coin-img-rank {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.coin-img-end {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.ranking-list {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 70%;
    margin-right: -28px !important;
    overflow-y: scroll;
    /* background-color: ; */
}

.text-table-ranking {
    font-size: 20px;
    margin-right: 4px;
}

.my-ranking {
    /* background-color: red; */
    height: 123px;
}

.background-item-ranking {
    background: rgba(0, 0, 0, 0.05)
}

.text-color-my-ranking {
    color: #FF004D !important;
}

.button-option-main {
    width: 55% !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .img-start-game-versus {
        display: none;
    }
    .main-home-center {
        height: calc(100vh - 82px);
    }
}

@media only screen and (min-width: 769px) {
    .main-home-center {
        width: 600px !important;
    }
    .button-option-main {
        width: 277px !important;
    }
    .main-home {
        height: calc(100vh - 82px);
    }
    .card-option {}
}

.cardInfoUser {
    width: 140px;
    height: 80px;
    background: #ccc !important;
}

.pair-value {
    color: red;
    font-size: 25px;
}

.pair-info {
    text-align: center;
    font-size: 22px;
}

.user-name-start {
    text-align: center;
    font-size: 25px;
}

.cardInfoUserTurn {
    width: 140px;
    height: 80px;
    background-color: orange !important;
}

.clock-vs span {
    font-size: 26px;
    color: #FC819E;
}

@media only screen and (max-width: 480px) {
    .cardInfoUser,
    .cardInfoUserTurn {
        width: 100%;
        height: 50px !important;
    }
    .card-info span {
        font-size: 15px;
    }
    .clock-vs {
        width: 100% !important;
    }
}

@media only screen and (min-width: 481px) {
    .cardInfoUser,
    .cardInfoUserTurn {
        width: 100%;
        height: 50px !important;
    }
    .card-info span {
        font-size: 17px;
    }
    .clock-vs {
        width: 100% !important;
    }
}

@media only screen and (max-width: 359px) {
    .img-card {
        width: 45px !important;
    }
}

@media only screen and (min-width: 620px) {
    .img-card {
        width: 120px !important;
    }
}

@media only screen and (min-width: 670px) {
    .img-card {
        width: 120px !important;
    }
}

@media only screen and (min-width: 749px) {
    .img-card {
        width: 120px !important;
    }
}

@media only screen and (min-width: 1000px) {
    .img-card {
        width: 120px !important;
    }
    .img-draw {
        width: 450px !important;
    }
}

.z-2 {
    z-index: 2 !important
}

@media only screen and (max-width: 991px) {
    .nav-header-home {
        position: absolute;
        top: 83px;
        right: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .2) !important;
        backdrop-filter: blur(9px) !important;
        box-shadow: -10px 0 10px rgba(0, 0, 0, .1) !important;
    }
}

.card-wait h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
}

.img-card-waiting-room {
    width: 60%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 12px;
    z-index: 1;
    position: relative;
}

.card-wait::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card-wait::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
}

.icon-waiting-room {
    font-size: 23px;
    z-index: 1;
}

.home-icon {
    position: absolute;
    top: 145px;
    color: #FBA834;
}

.ready-icon {
    position: absolute;
    top: 145px;
    color: #74E291;
}

.not-ready-icon {
    position: absolute;
    top: 145px;
    color: #FF204E;
}

.value-cate-waiting {
    font-size: 30px
}

.fs-24 {
    font-size: 24px !important
}

.change-coin-end {
    color: black;
    position: absolute;
    top: 10%;
    z-index: 2;
    font-size: 46px;
}

.kick-icon {
    position: absolute;
    top: 7px;
    right: 14px;
    color: #FF6868;
    font-size: 30px;
}

.exit-room-icon {
    color: #687EFF;
    font-size: 48px;
}

.m-12 {
    margin: 24px !important;
}

.mr-24 {
    margin-right: 24px;
}


/* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */

.d-flex {
    display: flex !important;
}

.color-blackFake {
    color: #001118 !important
}

.fw-bold {
    font-weight: bold !important;
}

span {
    font-weight: bold !important;
}

.fs-21 {
    font-size: 21px !important;
}

.head-div {
    font-size: 20px !important;
}

.cur-poi {
    cursor: pointer !important
}

.modal-chat {
    z-index: 1;
    width: 303px;
}

.chat-waiting-room {
    display: block;
    min-width: 50px;
    max-width: 274px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.chat-waiting-room .chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-waiting-room .chat-window {
    height: 84px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    border-radius: 5px;
}

.chat-waiting-room .message-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-waiting-room .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-waiting-room .message-input {
    flex: 1;
    max-width: 80% !important;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.chat-waiting-room .send-button {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.chat-waiting-room .send-button-dis {
    border: none;
    outline: none;
    background-color: #333;
    opacity: .6;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: text;
}

.chat-waiting-room .send-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    /* width: 30rem;
    height: 30rem; */
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 10px hsl(120, 73%, 59%);
    box-shadow: 0px 0px 15px 10px hsl(127, 67%, 60%);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    /* width: 26rem;
    height: 26rem; */
    border-radius: 50%;
    background-color: hsl(358, 78%, 69%);
    position: relative;
}

.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    /* background-color: hsl(147, 47%, 48%); */
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 36px;
}

.time p:nth-of-type(2) {
    /* position: relative;
    top: -.5rem;
    margin-inline: 1rem; */
}

#minutes,
#seconds,
.time p {
    color: #000;
    margin: 0;
}

.time p {
    font-weight: bold;
}

.clock-vs {
    background: #191919;
    width: 160px;
    height: 50px;
}